:root {
  --bg: #fff;
  --bgSubtle: #f4f4f4;
  --borderColor: #e0e0e0;
  --filterBtn: #001219;
  --primary: #00AFF5;
}

body.dark {
  --bg: #001219;
  --bgSubtle: #0a5976;
  --borderColor: #003A52;
  --filterBtn: #f4f4f4;
  color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 400px;
  height: 400px;
}

body {
  margin: 0;
  background: var(--bg);
  overflow: auto;
  color: #272727;
  padding-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:400px;
}

h1 {
  font-size: 2em;
  margin: 0.625em 0;
  font-weight: 200;
  line-height: 1.75rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  justify-content: space-between;
}

header>nav {
  display: flex;
  gap: .25rem;
  align-items: center;
  padding: 5px 0;
}

header>nav:hover {
  background: var(--bg);
}

button {
  display: flex;
  background: transparent;
  border: 0;
  cursor: pointer;
}

header>nav>button,
header>nav>a {
  padding: 12px;
  background: transparent;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: grid;
  place-content: center;
}

header>nav>button:hover,
header>nav>a:hover {
  background: var(--bgSubtle);
}

header>nav>button img,
header>nav>a img {
  width: 24px;
}

body.dark header>nav>button>img,
body.dark header>nav>a>img {
  filter: invert(100%);
}

#addNote {
  width: 48px;
  height: 48px;
  background: var(--primary);
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 1.75rem;
  color: #fff;
}

#addNote:hover {
  background: hsl(197, 100%, 40%);
}

input,
textarea,
select {
    padding: 8px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-family: inherit;
    background: var(--bg);
    color: var(--filterBtn);
}

textarea {
    min-height: 200px;
    resize: vertical;
}

.tag {
  background: var(--primary);
  color: white;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.tag span {
  cursor: pointer;
}
