.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 12px 12px;
}

#title,
#new-tag {
    margin:0;
    width:100%;
}

.tag-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

button#updateNote {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

#tag-select{
    margin-top: 0.5rem; width: 100%;
}